.select-type select {
    padding: 10px 15px;
    border-radius: 7px;
}
.select-lineblock {
    display: flex;
    gap: 5px;
    padding: 5px 10px;


}
.sort-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-lineblock img {
    width: 25px;
    height:  25px;
}
.select-lineblock a {

}