.filterBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 18%;
  padding-left:20px;
  & .drop-down {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .arrow-down {
      transition: .5s;
      transform: rotate(180deg);
    }
    .arrow {
      transition: .5s;

    }
  }
  &  section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
    border-bottom: 1px solid #E7E7EC;
    & .drop-info  label{
      display: flex;
      gap: 10px;
      align-items: center;
    }

    & .drop-none{
      display: none;
    }
    & .from-to{
      display: flex;
      gap: 10px;

    }
    & .from-to div {
      border: 1px solid #E7E7EC;
      border-radius: 5px;
      padding: 5px 1px;
      display: flex;
      width: 50%;
      gap: 5px;

    }
    & .from-to div input {
      width: 70px;
    }
  }



}
.kinds {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #E7E7EC;
  padding: 15px 0;
}
.kinds  div {
  display: flex;
  gap: 15px;
}/////////////////////

