.filterBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 18%;

  & .drop-down {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .arrow-down {
      transition: .5s;
      transform: rotate(180deg);
    }
    .arrow {
      transition: .5s;

    }
  }
  &  section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
    border-bottom: 1px solid #E7E7EC;
    & .drop-info  label{
      display: flex;
      gap: 10px;
      align-items: center;
    }
    & .drop-none{
      display: none;
    }
  }
  & .LengthRange input {
    width: 100%;
  }


}
.kinds {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #E7E7EC;
  padding: 15px 0;
}
.kinds  div {
  display: flex;
  gap: 15px;
}/////////////////////

