.dop-menu {
  border-top: 1px solid #EAEDF7;
  border-bottom: 1px solid #EAEDF7;
  background-color: #FFFFFF;
}

.stick-menu {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}

.brand {
  padding: 5px 10px;
  font-weight: 400;
}

.brand:hover {
  cursor: pointer;
  //font-weight: 600;
  //box-shadow: 1px 7px 19px 5px rgba(161,161,161,0.53);
}

.brand::after {
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background: red;
  transition: .3s ease-in-out;
}

.brand:hover.brand::after{
  width: 100%;
}