.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-1 {
  width: 8.33333%;
  padding: 15px;
}
.col-2 {
  width: 16.66%;
  padding: 15px;
}.col-3 {
   width: 25%;
   padding: 5px;
 }
.col-4 {
  width: 33.33%;
  padding: 15px;
}
.col-5 {
  width: 41.67%;
  padding: 15px;
}
.col-6 {
  width: 50%;
  padding: 0 15px;
}
.col-7 {
  width: 58.33%;
  padding: 15px;
}
.col-8 {
  width: 66.66%;
  padding: 15px;
}
.col-9 {
  width: 75%;
  padding: 15px;
}
.col-10 {
  width: 83.34%;
  padding: 15px;
}
.col-11 {
  width: 90%;
  padding: 15px;
}
.col-12 {
  width: 100%;
  padding: 15px;
}