

.subheader {
  padding: 20px 0;
  position: relative;
  background-color: #FFFFFF;

  & .subheader-wrap {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    & .logo {
      width: 190px;
      height: 40px;
      background-image: url("../assets/logo.svg");
      color: red;
    }


    & .subheader-catalog {
      display: flex;
      gap: 20px;
      align-items: center;

      & .catalog-wrap {
        & .catalog-btn {
          font-size: 20px;
          border-radius: 5px;
          color: white;
          font-weight: 500;
          background-color: red;
          padding: 5px 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          max-height: 34px;
          height: 100%;
          & .burger {
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 2px;
          }
        }
      }
      & .search {
        & .search-form {
          display: flex;
          align-items: center;
          border-radius: 5px;
          //border: 1px solid gray;
          background-color: #969e9e1a;
          padding: 5px;
          min-height: 34px;
          & .search-input {
            //max-width: 650px;
            //width: 100%;
            width: 650px;
            height: 100%;
            color: #001427;
          }
        }

      }
    }

    & .carts {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      font-weight: 500;
      transition: .3s;
    }

    & .carts:hover {
      color: red;
    }
  }
}

@keyframes animatedOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}