.add-cart_btn {
  background-color: #DC0000;
  color: #FFFFFF;
  padding: 10px 10px;
  border-radius: 5px;
  font-weight: 600;
}
.add-cart_btn:hover {
  background-color: #E63339;
}

.action-btn {
  background-color: #F7F7F7;
  border-radius: 5px;
  padding: 0 8px;
}