.aside-brands {
  position: sticky;
  top: 80px;
  background-color: white;
  width: 19%;
  left: 100%;

  & .brands-wrap {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #e7e7ec;
    position: absolute;
    right: 0;
    padding: 20px;
    //font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  & .brands-list {
    padding: 0 10px;
    font-size: 20px;
  }

  .elemCategory {
    font-size: 16px;
    padding: 5px 0;
    border-bottom: 1px solid #e7e7ec;
  }
  .elemCategory:after {
    height: 1px;
    position: absolute;
  }


}