.order-stick {
  background-color: #FFFFFF;
  position: sticky;
  top: 80px;

  & .box-price {
    width: 100%;
  }

  & .txt-order {
    font-size: 22px;
    color: #001427;
    font-weight: 500;
    text-align: right;
  }
  & .whatsapp-btn {
    background-color: green;
  }
  .add-cart-btn:hover {
    background-color: #20205e;
  }
}