.advertisement {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  & .advertisement-top-box {
    background-color: #F0F0F0;
  }
  & .advertisement-top-box, .advertisement-bottom-box {
    height: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}