* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: unset;
  background-color: unset;
  color: unset;
  padding: unset;
  cursor: pointer;
}
input {
  border: unset;
  background-color: unset;
  color: unset;
  padding: unset;
  cursor: unset;
  font-size: unset;
}
input:focus {
  outline: unset;
}

ul li {
  list-style-type: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.icon {
  display: block;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.burger-icon {
  width: 18px;
  height: 2px;
  background-color: white;
}

.close-icon {
  width: 18px;
  height: 18px;
  background-image: url("./components/assets/close.svg");
}

.search-icon {
  width: 18px;
  height: 18px;
  background-image: url("./components/assets/search.svg");
}

.carts-icon {
  width: 30px;
  height: 30px;
  background-image: url("./components/assets/cart1.svg");
}

.d-block {
  transform: scaleY(1);
  transform-origin: top ;
  /*display: block!important;*/
}

.d-none {
  transform: scaleY(0);
  transform-origin: top ;
  /*display: none!important;*/
}

